# Copy this file to ".env.social-app-backend" and/or ".env.social-app-backend.docker", and then tweak values for local development

# URL to IPFS endpoint
# IPFS_ENDPOINT="https://ipfs.infura.io:5001"
IPFS_ENDPOINT="http://127.0.0.1:5001"

# If using Infura, put Project ID here, or leave blank for Kubo RPC
# IPFS_BASIC_AUTH_USER=

# If using Infura, put auth token here, or leave blank for Kubo RPC
# IPFS_BASIC_AUTH_SECRET=

# IPFS gateway URL. '[CID]' is a token that will be replaced with an actual content ID
# IPFS_GATEWAY_URL="https://ipfs.io/ipfs/[CID]"
IPFS_GATEWAY_URL="http://127.0.0.1:8080/ipfs/[CID]"

# Blockchain node address
FREQUENCY_URL=ws://0.0.0.0:9944

# Blockchain node address for HTTP RPC requests only
FREQUENCY_HTTP_URL="https://rpc.rococo.frequency.xyz"

PROVIDER_ID=1

# Seed phrase for provider MSA control key
PROVIDER_ACCOUNT_SEED_PHRASE="//Alice"


# Possible values: dev, rococo, testnet, mainnet
CHAIN_ENVIRONMENT=dev

# Sign-In With Frequency Config
SIWF_URL="https://amplicalabs.github.io/siwf/ui"
SIWF_DOMAIN="localhost"
