.cover {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 550px;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

.image video {
  display: block;
}

/* stylelint-disable-next-line selector-max-compound-selectors */
.slider img {
  max-height: 500px;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  flex: 1;
}

/* stylelint-disable-next-line selector-max-compound-selectors */
.slider a {
  display: flex;
}

[class~='ant-carousel'] {
  margin-bottom: 18px;

  [class~='slick-slider'] {
    ul {
      bottom: -18px;
    }
    li {
      width: 8px;
      height: 8px;
    }
    li button {
      width: 100%;
      height: 8px;
      border-radius: 4px;
      outline: 1px solid grey;
    }
  }
}
