# Copy this file to "<project_root>/.env.social-app-backend", and then tweak values for local development
# Values in this file will override the same-named environnent variables in `.env.common` for the social-app-backend
API_PORT=3001
# Blockchain node address
FREQUENCY_API_WS_URL=ws://0.0.0.0:9944

# Blockchain node address for the SiwF UI (must be resolvable from a browser)
SIWF_NODE_RPC_URL=http://localhost:9944

# Specifies the provider ID
PROVIDER_ID=1

# IP address for the private (backend-facing) API to bind to (default: use default interface)
#WEBHOOK_HOST=

# Port number for the private (backend-facing) API to bind to (default: one higner than the public port)
#WEBHOOK_PORT=3002

# Base URL to advertise to other services when registering WEBHOOK_RETRY_INTERVAL_SECONDS
WEBHOOK_BASE_URL=http://host.docker.internal:3002/webhooks            #local

# Base URL for the account-service
ACCOUNT_SERVICE_URL=http://0.0.0.0:3013

# Base URL for the content-publishing-service
CONTENT_PUBLISHER_URL=http://0.0.0.0:3010

# Base URL for the content-watcher-service
CONTENT_WATCHER_URL=http://0.0.0.0:3011

# Base URL for the graph-service
GRAPH_SERVICE_URL=http://0.0.0.0:3012

# What type of chain we're connected to
CHAIN_ENVIRONMENT=dev

# URL for the Sign-In With Frequency UI
SIWF_URL=https://projectlibertylabs.github.io/siwf/v1/ui

# Domain for the Sign-in with Frequency login payload
SIWF_DOMAIN=localhost

# IPFS gateway domain URL. If set, will replace the 'protocol://domain:port' portion of content URLs loaded from the chain
IPFS_GATEWAY_URL="http://0.0.0.0:8080"

# IPFS gateway domain URL (user-agent resolvable). If set, will override IPFS_GATEWAY_URL in the auth response sent to the user-agent.
IPFS_UA_GATEWAY_URL="http://localhost:8080"

# Enable debug mode for development
DEBUG=true
