# Copy this file to "<project_root>/.env.social-app-backend.docker", and then tweak values for local development
# Values in this file will override the same-named environnent variables in `.env.common.docker` for the social-app-backend

# IP address for the private (backend-facing) API to bind to (default: use default interface)
WEBHOOK_IP=

# Port number for the private (backend-facing) API to bind to (default: one higner than the public port)
WEBHOOK_PORT=

# Base URL to advertise to other services when registering WEBHOOK_RETRY_INTERVAL_SECONDS
WEBHOOK_BASE_URL=http://social-app-template-backend:3001/webhooks

# Base URL for the account-service
ACCOUNT_SERVICE_URL=http://account-service-api:3000

# Base URL for the content-publishing-service
CONTENT_PUBLISHER_URL=http://content-publishing-service-api:3000

# Base URL for the content-watcher-service
CONTENT_WATCHER_URL=http://content-watcher-service:3000

# Blockchain node address for the SiwF UI (must be resolvable from a browser)
FREQUENCY_HTTP_URL=http://localhost:9944

# What type of chain we're connected to
CHAIN_ENVIRONMENT=dev

# URL for the Sign-In With Frequency UI
SIWF_URL=https://amplicalabs.github.io/siwf/ui

# Domain for the Sign-in with Frequency login payload
SIWF_DOMAIN=localhost

# URL to IPFS endpoint
# IPFS_ENDPOINT="https://ipfs.infura.io:5001"
IPFS_ENDPOINT="http://kubo_ipfs:5001"

# If using Infura, put Project ID here, or leave blank for Kubo RPC
# IPFS_BASIC_AUTH_USER=

# If using Infura, put auth token here, or leave blank for Kubo RPC
# IPFS_BASIC_AUTH_SECRET=

# IPFS gateway URL. '[CID]' is a token that will be replaced with an actual content ID
# IPFS_GATEWAY_URL="https://ipfs.io/ipfs/[CID]"
IPFS_GATEWAY_URL="http://kubo_ipfs:8080/ipfs/[CID]"

# Enable debug mode for development
DEBUG=true
