# Copy this file to "<project_root>/.env.social-app-backend", and then tweak values for local development
# Values in this file will override the same-named environnent variables in `.env.common` for the social-app-backend

# Base URL for the account-service
ACCOUNT_SERVICE_URL=http://0.0.0.0:3003

# Base URL for the content-publishing-service
CONTENT_PUBLISHER_URL=http://0.0.0.0:3001

# Blockchain node address for the SiwF UI (must be resolvable from a browser)
FREQUENCY_HTTP_URL=http://localhost:9944

# What type of chain we're connected to
CHAIN_ENVIRONMENT=dev

# Base URL for provider webhook endpoints
PROVIDER_BASE_URL=https://some-provider/api/v1.0.0

# Number of failures allowing in the provider webhook before the service is marked down
WEBHOOK_FAILURE_THRESHOLD=3

# Number of seconds between provider webhook retry attempts when failing
WEBHOOK_RETRY_INTERVAL_SECONDS=10

# Number of `/health` endpoint failures allowed before marking the provider webhook service down
HEALTH_CHECK_MAX_RETRIES=4

# Number of seconds to retry provider webhook `/health` endpoint when failing
HEALTH_CHECK_MAX_RETRY_INTERVAL_SECONDS=10

# Minimum number of consecutive successful calls to the provider webhook
# `/health` endpoint before it is marked up again
HEALTH_CHECK_SUCCESS_THRESHOLD=10

# Maximum amount of provider capacity this app is allowed to use (per epoch)
#     type: 'percentage' | 'amount'
#     value: number (may be percentage, ie '80', or absolute amount of capacity)
CAPACITY_LIMIT='{"type":"percentage", "value":80}'

# URL for the Sign-In With Frequency UI
SIWF_URL=https://amplicalabs.github.io/siwf/ui

# Domain for the Sign-in with Frequency login payload
SIWF_DOMAIN=localhost

# URL to IPFS endpoint
# IPFS_ENDPOINT="https://ipfs.infura.io:5001"
IPFS_ENDPOINT="http://0.0.0.0:5001"

# If using Infura, put Project ID here, or leave blank for Kubo RPC
# IPFS_BASIC_AUTH_USER=

# If using Infura, put auth token here, or leave blank for Kubo RPC
# IPFS_BASIC_AUTH_SECRET=

# IPFS gateway URL. '[CID]' is a token that will be replaced with an actual content ID
# IPFS_GATEWAY_URL="https://ipfs.io/ipfs/[CID]"
IPFS_GATEWAY_URL="http://0.0.0.0:8080/ipfs/[CID]"

# Enable debug mode for development
DEBUG=true
