.root {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.ConnectionsCount {
  font-weight: bold;
  margin-right: 6px;
  font-size: medium;
}

.ConnectionsOpenModal {
  font-size: medium;
}

.ConnectionsOpenModal:hover {
  text-decoration: underline;
  cursor: pointer;
}
