.root {
  max-width: 700px;
}

.card {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.metaBlock {
  cursor: pointer;
}

.metaInnerBlock {
  display: flex;
  align-items: center;
}

.caption {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.time {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
}

.spinner {
  padding: 16px 0;
}
