:root {
  --header-bg: white;
}

.root {
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 2px solid;
  background-color: #fff;
}

.container {
  padding: 10px;
  max-width: 1300px !important;
  width: 100%;
  margin: 0 auto;
}

.title {
  margin: 19px 0;
}

.user {
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}
