:root {
  --profile-bg: white;
}

.root {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-right: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid;
}

.metaInnerBlock {
  display: flex;
  align-items: center;
}
