.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}

.content {
  padding: 10px;
  justify-content: center;
  max-width: 1300px !important;
  width: 100%;
  margin: 0 auto;
}