:root {
  --feed-bg: white;
  --feed-fg: #111;
  --nav-fg: gray;
  --nav-spacer: #5e69ff;
}

.root {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  height: -moz-fit-content;
  margin-right: 15px;
  margin-bottom: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.navigation {
  font-weight: bold;
  font-size: x-large;
}

.navigationItem {
  cursor: pointer;
}

.navigationItem--active {
  text-decoration: underline;
}
